.mainContainer {
    position: relative;

    .mainDropdownContainer {
        top: 35px;
        max-height: 259px;
        overflow: auto;

        .dropdownContainer {
            padding: 8px;
            gap: 8px;


            width: 160px;




            background: #FFFFFF;
            border: 1px solid #EAECF0;
            /* Drop Twio */

            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            border-radius: 4px;


            .dropdownList {
                cursor: pointer;
                padding: 6px 8px;
                gap: 10px;
                display: flex;
                align-items: center;
                width: 144px;
                height: 27px;

                /* Light Background */

                background: white;
                border-radius: 4px;

                span {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */


                    /* Muted Text */

                    color: #667085;

                }

                &:hover {
                    background: #F2F4F7;

                    span {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        /* identical to box height */


                        /* Text */

                        color: #0C0F1E;
                    }

                }
            }


        }
    }

    .dropdown {
        cursor: pointer;
        padding: 8px 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        gap: 6px;


        height: 30px;
        left: 112px;
        top: 80px;

        background: #FFFFFF;
        /* Muted Text */

        border: 1px solid #667085;
        border-radius: 160px;

        .name {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            /* Muted Text */

            color: #667085;
        }

        .value {
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            /* identical to box height */

            text-align: center;

            /* Text */

            color: #0C0F1E;
        }


    }
}