.mainContainer {
    max-width: 1216px;
    display: flex;
    flex-direction: column;
    margin: auto;

    @media only screen and (max-width: 1216px) {
        max-width: 1000px;
    }

    /* Large devices (laptops/desktops, 992px and up) */
    @media only screen and (max-width: 992px) {
        max-width: 800px;

    }

    @media only screen and (max-width: 768px) {
        max-width: 600px;

    }

    @media only screen and (max-width: 600px) {
        max-width: 343px;
    }

    .breadCrump {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 20px;

        span {
            margin-top: 2px;
            margin: 0px 5px;
            font-size: 12px;
            font-weight: 500;
            font-style: normal;
            color: #0C0F1E;
        }
    }

    .headerButtons {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
        flex-direction: row;

        @media only screen and (max-width: 600px) {
            flex-direction: column;
        }

        .details {
            h2 {
                margin: 0px;
                font-size: 20px;
                font-weight: 500;
                color: #0C0F1E;

            }

            @media only screen and (max-width: 600px) {
                margin: 12px 0px;

                h2 {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            // button {
            //     margin: 0px 5px;
            // }

            .orderButton {
                background-color: #6DCD68;
                // width: 120px;

                span {
                    color: white;
                    // margin: 0px 20px;
                    font-size: 12px;
                    font-weight: 500;
                }
            }
        }
    }

    .cardList {
        display: flex;
        margin: 10px 0px;
        flex-wrap: wrap;
        gap: 32px;

        @media only screen and (max-width: 600px) {
            gap: 12px;
        }
    }

    .mainFormDataContainer {
        border: 1px solid #EAECF0;
        margin: 10px 0px;
        border-radius: 4px;

        @media only screen and (max-width: 600px) {
            width: 343px;
        }

        .footerFormDataContainer {

            padding: 10px 16px;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #667085;
            }

            .containerHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;

                @media only screen and (max-width: 600px) {
                    flex-direction: column;
                    align-items: unset;

                }

                .submitButton {
                    display: flex;
                    gap: 12px;

                    @media only screen and (max-width: 600px) {
                        justify-content: flex-end;

                    }
                }

                .orderButton {
                    height: 32px;
                    // width: 138px;
                    background: #03373E;
                    /* Stroke for buttons */

                    border: 1px solid #D0D5DD;
                    border-radius: 130px;
                    padding: 8px 12px;
                    white-space: nowrap;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    span {
                        color: #FFFFFF;
                        font-weight: 500;
                    }

                    @media only screen and (max-width: 600px) {
                        height: 36px;

                    }
                }

                .downloadButton {
                    height: 32px;
                    width: auto;
                    background: #FFFFFF;
                    /* Stroke for buttons */

                    border: 1px solid #D0D5DD;
                    border-radius: 130px;
                    padding: 8px 12px;
                    white-space: nowrap;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    span {
                        font-weight: 500;
                    }

                    @media only screen and (max-width: 600px) {
                        height: 36px;

                    }
                }

                .headerBeginner {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .orderIndicator {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 18px;
                        color: #6941C6;
                        display: flex;
                        align-items: center;
                        background-color: #F9F5FF;
                        border-radius: 16px;
                        width: 99px;
                        height: 22px;
                        padding: 2px 12px;
                        justify-content: center;
                    }

                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 28px;
                        color: #101828;
                    }
                }

                .mainButtons {

                    height: 36px;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #D0D5DD;
                    border-radius: 25px;

                    img {
                        margin: 0px 5px;
                    }

                    span {
                        margin: 0px 5px;
                        color: #667085;
                        font-size: 12px;
                        font-weight: 500;
                    }

                }
            }


        }

        .formDataContainer {
            padding: 10px 16px;

            span {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;
                color: #667085;
            }

            .containerHeader {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;



                .submitButton {
                    display: flex;
                    gap: 12px;
                }

                .orderButton {
                    height: 32px;
                    // width: 138px;
                    background: #03373E;
                    /* Stroke for buttons */

                    border: 1px solid #D0D5DD;
                    border-radius: 130px;
                    padding: 8px 12px;
                    white-space: nowrap;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    span {
                        color: #FFFFFF;
                        font-weight: 500;
                    }

                    @media only screen and (max-width: 600px) {
                        height: 36px;

                    }
                }

                .downloadButton {
                    height: 32px;
                    width: auto;
                    background: #FFFFFF;
                    /* Stroke for buttons */

                    border: 1px solid #D0D5DD;
                    border-radius: 130px;
                    padding: 8px 12px;
                    white-space: nowrap;

                    img {
                        height: 20px;
                        width: 20px;
                    }

                    span {
                        font-weight: 500;
                    }

                    @media only screen and (max-width: 600px) {
                        height: 36px;

                    }
                }

                .headerBeginner {
                    display: flex;
                    gap: 8px;
                    align-items: center;

                    .orderIndicator {
                        font-weight: 500;
                        font-size: 10px;
                        line-height: 18px;
                        color: #6941C6;
                        display: flex;
                        align-items: center;
                        background-color: #F9F5FF;
                        border-radius: 16px;
                        width: 99px;
                        height: 22px;
                        padding: 2px 12px;
                        justify-content: center;
                    }

                    span {
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 28px;
                        color: #101828;
                    }
                }

                .mainButtons {

                    height: 36px;
                    padding: 8px 16px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: 1px solid #D0D5DD;
                    border-radius: 25px;

                    img {
                        margin: 0px 5px;
                    }

                    span {
                        margin: 0px 5px;
                        color: #667085;
                        font-size: 12px;
                        font-weight: 500;
                    }

                }
            }

        }

        .formData {
            display: flex;
            border-top: 1px solid #EAECF0;
            border-bottom: 1px solid #EAECF0;
            flex-wrap: unset;

            @media only screen and (max-width: 600px) {
                flex-wrap: wrap;

            }


            .notificationContainer {
                width: 309.33px;
                background-color: white;
                top: -5px;

                .header {
                    padding: 5px 8px;


                    cursor: pointer;

                    border-radius: 4px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;
                    /* identical to box height */


                    /* Text */

                    color: #0C0F1E;

                    &:hover {
                        background-color: #F2F4F7;
                    }
                }
            }


            .formData1 {

                padding: 16px 48px;
                gap: 16px;

                width: 405.33px;
                // height: 432px;

                /* Stroke */

                border-right: 1px solid #EAECF0;

                input[type=text] {
                    width: 100%;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                }



                form {


                    .selectDiv {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 10px 0px;

                        select {




                            width: 100%;
                            border: 1px solid #EAECF0;
                            margin: 8px 0;
                            box-sizing: border-box;
                            background-color: transparent;
                            border-radius: 4px;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 15px;
                            padding: 5px 10px;
                            /* Text */

                            color: #0C0F1E;

                            &:focus-visible {
                                outline: 1px solid #667085;
                            }
                        }
                    }

                    label {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;

                        /* Muted Text Color */

                        color: #58595B;
                    }

                    input {
                        height: 16px;
                        border: 1px solid #EAECF0;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;

                        /* Text */

                        color: #0C0F1E;

                        &:focus-visible {
                            outline: 1px solid #667085;
                        }
                    }
                }

                span {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 28px;
                    /* identical to box height, or 233% */

                    display: flex;
                    align-items: center;

                    /* Muted Text */

                    color: #667085;
                }

                .searchFilter {
                    // padding: 8px;
                    // width: 407px;
                    // height: 30px;
                    // background-color: #FFFFFF;
                    // border: 1px solid #EAECF0;
                    // border-radius: 160px;
                    // background-repeat: no-repeat;
                    // background-size: contain;
                    // background-size: 14px 14px;
                    // background-origin: content-box;
                    // padding-left: 10px;
                    // background-image: url('../../../assets//icons/dropdownSelect.svg');
                    // text-indent: 25px;
                    background: #fff url("../../../assets//icons/dropdownSelect.svg") no-repeat right;
                    background-position: right center;
                    background-origin: content-box;
                    padding-right: 5px;

                }
            }
        }





    }
}