.searchFilter {
    // padding: 8px;
    // width: 407px;
    // height: 30px;
    // background-color: #FFFFFF;
    // border: 1px solid #EAECF0;
    // border-radius: 160px;
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-size: 14px 14px;
    // background-origin: content-box;
    // padding-left: 10px;
    // background-image: url('../../../assets//icons/dropdownSelect.svg');
    // text-indent: 25px;
    background: #fff url("../../../assets//icons/dropdownSelect.svg") no-repeat right;
    background-position: right center;
    background-origin: content-box;
    padding-right: 5px;
    position: relative;




}

.notificationContainer {
    width: 309.33px;
    background-color: white;
    top: unset;

    .header {
        padding: 5px 8px;


        cursor: pointer;

        border-radius: 4px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */


        /* Text */

        color: #0C0F1E;

        &:hover {
            background-color: #F2F4F7;
        }
    }
}