.mainButtons {

    height: 36px;
    // width: 133px;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #D0D5DD;
    border-radius: 25px;
    background-color: white;



    span {

        color: #667085;
        font-size: 12px;
        font-weight: 500;
    }

}