// .auth {
//     min-height: 80vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     .img {
//         animation: slide-down 0.5s ease;
//     }

//     .form {
//         width: 35rem;
//         padding: 1.5rem;
//         animation: slide-up 0.5s ease;
//         background-color: #fff;

//         h2 {
//             color: var(--color-danger);
//             text-align: center;
//         }

//         form {

//             input[type="text"],
//             input[type="email"],
//             input[type="password"] {
//                 display: block;
//                 font-size: 1.6rem;
//                 font-weight: 300;
//                 padding: 1rem;
//                 margin: 1rem auto;
//                 width: 100%;
//                 border: 1px solid #ccc;
//                 border-bottom: 3px solid #ccc;
//                 border-radius: 3px;
//                 outline: none;

//                 &:focus {
//                     outline: none;
//                     box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
//                     border-bottom: 3px solid #55c57a;
//                 }

//                 &:focus:invalid {
//                     border-bottom: 3px solid #ff7730;
//                 }
//             }

//             .links {
//                 display: flex;
//                 justify-content: space-between;
//                 margin: 5px 0;
//             }

//             p {
//                 text-align: center;
//                 margin: 1rem;
//             }
//         }

//         .register {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 1rem;
//         }
//     }

//     @keyframes slide-up {
//         0% {
//             transform: translateY(-5rem);
//         }

//         100% {
//             transform: translateY(0);
//         }
//     }

//     @keyframes slide-down {
//         0% {
//             transform: translateY(5rem);
//         }

//         100% {
//             transform: translateY(0);
//         }
//     }
// }

// @media screen and (max-width: 700px) {
//     .img {
//         display: none;
//     }
// }



.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
    height: 600px;


    .mainFormDiv {

        height: 100%;


        background: #FFFFFF;
        /* Stroke */

        border: 1px solid #EAECF0;
        /* Drop One */

        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
        border-radius: 8px;

        .formData1 {
            padding: 12px 24px !important;

            .submitButtonDiv {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 20px;
                gap: 12px;
            }

            .orderButton {
                height: 32px;
                // width: 138px;
                background: #00CC66;
                /* Stroke for buttons */

                border: 1px solid #D0D5DD;
                border-radius: 130px;
                padding: 8px 12px;
                white-space: nowrap;

                img {
                    height: 20px;
                    width: 20px;
                }

                span {
                    color: #FFFFFF;
                    font-weight: 500;
                }

                @media only screen and (max-width: 600px) {
                    height: 36px;
                    width: 112px;
                }

                &:hover {
                    background: #055A65;
                }

                &:active {
                    background: #03373E;
                }
            }

            .noCommentDiv {
                display: flex;
                flex-direction: column;
                align-items: center;


                border: 2px dashed #667085;
                border-radius: 8px;
                margin: 0 auto;
                cursor: pointer;
            }

            @media only screen and (max-width: 600px) {
                padding: 16px 16px;
                border-right: none;

            }

            padding: 16px 0px;
            gap: 16px;

            width: 405.33px;
            // height: 432px;

            /* Stroke */








            input[type=text] {
                width: 100%;
                padding: 12px 5px;
                margin: 8px 0;
                box-sizing: border-box;
                background: white;
            }

            input[type=email] {
                width: 100%;
                padding: 12px 5px;
                margin: 8px 0;
                box-sizing: border-box;
                background: white;
            }

            input[type=password] {
                width: 100%;
                padding: 12px 5px;
                margin: 8px 0;
                box-sizing: border-box;
                background: white;
            }

            form {
                .website {
                    display: flex;
                    align-items: center;

                    span {
                        padding: 0px 16px;
                        gap: 10px;

                        width: 75px;
                        height: 27px;

                        /* Stroke */

                        border: 1px solid #EAECF0;
                        color: #667085;

                    }
                }

                .changePassword {
                    height: 8px;
                    margin: 8px 0px;

                    .changePasswordDiv {
                        top: -165px;
                        left: 220px;
                    }

                    button {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 10px;
                        line-height: 12px;
                        text-align: right;
                        text-decoration-line: underline;

                        /* Dark Green/Daark */

                        color: #03373E;
                        border: none;
                        background: none;
                        height: 12px;
                        float: right;
                    }

                    .notificationContainer {

                        /* White */

                        background: #FFFFFF;
                        border: 1px solid #EAECF0;
                        /* Drop Twio */

                        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
                        border-radius: 4px;
                        width: 309.33px;

                        padding: 0px;

                        .header {
                            height: 40px;
                            display: flex;
                            justify-content: space-between;
                            padding: 8px 16px;
                            align-items: center;
                            background-color: white;
                            border-bottom: 1px solid #EAECF0;
                            border-radius: 4px 4px 0px 0px;

                            .notificationText {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 12px;
                                line-height: 15px;
                                /* identical to box height */


                                /* Text */

                                color: #0C0F1E;
                            }



                            img {
                                cursor: pointer;
                            }



                            .markRead {
                                font-weight: 400;
                                size: 12px;
                                line-height: 28px;
                                color: #DDE2E3;
                            }
                        }

                        .today {
                            height: 27px;
                            padding: 6px 16px;
                            background-color: #F2F4F7;
                            font-size: 10px;
                            line-height: 15px;
                            font-style: normal;
                            color: #03373E;


                        }

                        .notificationDesc {

                            background-color: #FFFFFF;

                            padding: 12px 16px;
                            display: flex;
                            width: 100%;
                            gap: 10px;

                            .details {
                                width: 100%;

                                .contentData {
                                    font-weight: 400;
                                    font-size: 12px;
                                    line-height: 18px;
                                    color: #667085;

                                }

                                span {
                                    color: #0C0F1E;
                                    line-height: 150%;
                                    font-size: 12px;
                                    font-weight: 400;
                                    font-style: normal;
                                }

                                .timeDetails {
                                    display: flex;
                                    gap: 9px;
                                    align-items: center;

                                    span {
                                        color: #667085;
                                        font-weight: 500;
                                        font-size: 10px;
                                        line-height: 12px;
                                        font-style: normal;

                                    }
                                }

                            }

                        }

                        .seeAll {
                            padding: 6px 16px;
                            display: flex;
                            justify-content: flex-end;
                            color: #03373E;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 28px;
                            gap: 8px;
                            // border-radius: 4px;
                            background-color: white;
                            padding-top: 0px;
                            padding-bottom: 16px;
                            border-radius: 0px 0px 4px 4px;

                            .orderButton {
                                height: 32px;
                                // width: 138px;
                                background: #03373E;
                                /* Stroke for buttons */

                                border: 1px solid #D0D5DD;
                                border-radius: 130px;
                                padding: 8px 12px;
                                white-space: nowrap;

                                img {
                                    height: 20px;
                                    width: 20px;
                                }

                                span {
                                    color: #FFFFFF;
                                    font-weight: 500;
                                }

                                @media only screen and (max-width: 600px) {
                                    height: 36px;

                                }
                            }

                            .downloadButton {
                                height: 32px;
                                width: auto;
                                background: #FFFFFF;
                                /* Stroke for buttons */

                                border: 1px solid #D0D5DD;
                                border-radius: 130px;
                                padding: 8px 12px;
                                white-space: nowrap;
                                text-decoration: none;

                                img {
                                    height: 20px;
                                    width: 20px;
                                }

                                span {
                                    font-weight: 500;
                                }

                                @media only screen and (max-width: 600px) {
                                    height: 36px;

                                }
                            }


                        }
                    }
                }

                p {
                    padding: 0px 5px;
                    margin: 15px 0px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;
                    /* or 18px */

                    display: flex;
                    align-items: center;

                    /* Muted Text */

                    color: #667085;
                }

                .selectDiv {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 10px 0px;

                    select {




                        width: 100%;
                        border: 1px solid #EAECF0;
                        margin: 8px 0;
                        box-sizing: border-box;
                        background-color: transparent;
                        border-radius: 4px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        padding: 5px 10px;
                        /* Text */

                        color: #0C0F1E;

                        &:focus-visible {
                            outline: 1px solid #667085;
                        }
                    }
                }

                label {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 12px;

                    /* Muted Text Color */

                    color: #58595B;
                }

                input {
                    height: 16px;
                    border: 1px solid #EAECF0;
                    border-radius: 4px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 15px;

                    /* Text */

                    color: #0C0F1E;

                    &:focus-visible {
                        outline: 1px solid #667085;
                    }
                }
            }

            span {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 28px;
                /* identical to box height, or 233% */

                display: flex;
                align-items: center;

                /* Muted Text */

                color: #667085;
            }

            .searchFilter {
                // padding: 8px;
                // width: 407px;
                // height: 30px;
                // background-color: #FFFFFF;
                // border: 1px solid #EAECF0;
                // border-radius: 160px;
                // background-repeat: no-repeat;
                // background-size: contain;
                // background-size: 14px 14px;
                // background-origin: content-box;
                // padding-left: 10px;
                // background-image: url('../../../assets//icons/dropdownSelect.svg');
                // text-indent: 25px;
                background: #fff url("../../../assets//icons/dropdownSelect.svg") no-repeat right;
                background-position: right center;
                background-origin: content-box;
                padding-right: 5px;

            }
        }

        .header {
            display: flex;
            gap: 8px;
            border-bottom: 1px solid #EAECF0;
            padding: 12px 24px;

            span {
                width: 304px;
                height: 21px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
                /* identical to box height, or 21px */

                display: flex;
                align-items: center;

                /* Dark Green/Daark */

                color: #03373E;


                /* Inside auto layout */

                flex: none;
                order: 0;
                flex-grow: 1;
            }
        }
    }

    .mainContainer {
        display: flex;
        justify-content: center;
        height: 600px;

    }
}